.cookie {

  position: fixed;
  width: 100%;
  padding: 37px 0;
  bottom: 0;
  background: $white-rgba-four;
  box-shadow: 0 -2px 4px $black-rgba-seven;
  z-index: 1000000000000000;
  display: none;
  align-items: center;
  align-content: center;
  font-size: 16px;
  font-family: $verdana-regular;
  color: $black-one;

  @media only screen and (max-width: 991.98px) {
    padding: 20px 0;
  }

  &__text {

    @media only screen and (max-width: 991.98px) {
      padding-bottom: 1rem;
      text-align: center;
    }

    a {

      font-size: 16px;
      font-family: $verdana-regular;
      color: $gold-one;
      text-decoration: underline;

      &:hover {

        text-decoration: none;

      }

    }

  }

  .cookie-button {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    width: 100%;
    max-width: 200px;
    visibility: visible !important;

    @media only screen and (max-width: 360px) {
      margin: 0 10px 1rem;
    }
    span {
      width: 30px;
      max-width: 30px;
      height: 30px;
      min-height: 30px;
      max-height: 30px;
      margin-right: 4px;
      svg {
        width: 16px;
        height: 12px;
      }
    }

    &__ml-auto {
      margin-left: auto;
    }
    &__mr-30 {
      margin-right: 30px;
    }

  }

  &__settings {

    @media only screen and (max-width: 1280px) {
      flex: 100%;
      max-width: 100%;
      text-align: center;
    }

  }

  &__wrapper-button {

    justify-content: space-between;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 1280px) {
      flex: 100%;
      max-width: 100%;
      justify-content: center;
    }

    @media only screen and (max-width: 360px) {
      flex-wrap: wrap;
    }

  }

  &_mb-1 {

    @media only screen and (max-width: 1280px) {
      margin-bottom: 1rem;
    }

  }

}
