mixin arrow__white_left
  svg(width="23" height="17" viewbox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M7.51207 0.24322C7.8254 -0.0810734 8.3469 -0.0810734 8.6712 0.24322C8.98453 0.556558 8.98453 1.07806 8.6712 1.39066L2.79374 7.26812H22.1885C22.6406 7.26885 23 7.6282 23 8.08031C23 8.53242 22.6406 8.90346 22.1885 8.90346H2.79374L8.6712 14.77C8.98453 15.0943 8.98453 15.6165 8.6712 15.9291C8.3469 16.2534 7.82467 16.2534 7.51207 15.9291L0.24322 8.66024C-0.0810733 8.3469 -0.0810733 7.82541 0.24322 7.5128L7.51207 0.24322Z" fill="white")

mixin arrow__white_right
  svg(width="23" height="17" viewbox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M15.4879 0.24322C15.1746 -0.0810734 14.6531 -0.0810734 14.3288 0.24322C14.0155 0.556558 14.0155 1.07806 14.3288 1.39066L20.2063 7.26812H0.811464C0.359352 7.26885 0 7.6282 0 8.08031C0 8.53242 0.359352 8.90346 0.811464 8.90346H20.2063L14.3288 14.77C14.0155 15.0943 14.0155 15.6165 14.3288 15.9291C14.6531 16.2534 15.1753 16.2534 15.4879 15.9291L22.7568 8.66024C23.0811 8.3469 23.0811 7.82541 22.7568 7.5128L15.4879 0.24322Z" fill="white")

mixin arrow__gold_left
  svg(width="23" height="17" viewbox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M7.51207 0.24322C7.8254 -0.0810734 8.3469 -0.0810734 8.6712 0.24322C8.98453 0.556558 8.98453 1.07806 8.6712 1.39066L2.79374 7.26812H22.1885C22.6406 7.26885 23 7.6282 23 8.08031C23 8.53242 22.6406 8.90346 22.1885 8.90346H2.79374L8.6712 14.77C8.98453 15.0943 8.98453 15.6165 8.6712 15.9291C8.3469 16.2534 7.82467 16.2534 7.51207 15.9291L0.24322 8.66024C-0.0810733 8.3469 -0.0810733 7.82541 0.24322 7.5128L7.51207 0.24322Z" fill="#C5A47E")

mixin arrow__gold_right
  svg(width="23" height="17" viewbox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M15.4879 0.24322C15.1746 -0.0810734 14.6531 -0.0810734 14.3288 0.24322C14.0155 0.556558 14.0155 1.07806 14.3288 1.39066L20.2063 7.26812H0.811464C0.359352 7.26885 0 7.6282 0 8.08031C0 8.53242 0.359352 8.90346 0.811464 8.90346H20.2063L14.3288 14.77C14.0155 15.0943 14.0155 15.6165 14.3288 15.9291C14.6531 16.2534 15.1753 16.2534 15.4879 15.9291L22.7568 8.66024C23.0811 8.3469 23.0811 7.82541 22.7568 7.5128L15.4879 0.24322Z" fill="#C5A47E")

mixin five-stars(marginBottom)
  .delimiter-five-stars(class=marginBottom)
    svg(width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M9.00062 0L11.6435 5.6229L17.5533 6.52457L13.277 10.9014L14.2865 17.0815L9.00062 14.1637L3.71478 17.0815L4.72428 10.9014L0.447951 6.52457L6.3577 5.6229L9.00062 0Z" fill="#C5A47E")
    svg(width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M9.00062 0L11.6435 5.6229L17.5533 6.52457L13.277 10.9014L14.2865 17.0815L9.00062 14.1637L3.71478 17.0815L4.72428 10.9014L0.447951 6.52457L6.3577 5.6229L9.00062 0Z" fill="#C5A47E")
    svg(width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M9.00062 0L11.6435 5.6229L17.5533 6.52457L13.277 10.9014L14.2865 17.0815L9.00062 14.1637L3.71478 17.0815L4.72428 10.9014L0.447951 6.52457L6.3577 5.6229L9.00062 0Z" fill="#C5A47E")
    svg(width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M9.00062 0L11.6435 5.6229L17.5533 6.52457L13.277 10.9014L14.2865 17.0815L9.00062 14.1637L3.71478 17.0815L4.72428 10.9014L0.447951 6.52457L6.3577 5.6229L9.00062 0Z" fill="#C5A47E")
    svg(width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M9.00062 0L11.6435 5.6229L17.5533 6.52457L13.277 10.9014L14.2865 17.0815L9.00062 14.1637L3.71478 17.0815L4.72428 10.9014L0.447951 6.52457L6.3577 5.6229L9.00062 0Z" fill="#C5A47E")


mixin successfully
  svg(width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M68.2842 11.7156C60.7292 4.16078 50.6844 0 40 0C29.3155 0 19.2705 4.16078 11.7156 11.7156C4.16063 19.2706 0 29.3156 0 40C0 50.6844 4.16063 60.7292 11.7156 68.2842C19.2706 75.8392 29.3155 80 40 80C50.6844 80 60.7292 75.8392 68.2842 68.2842C75.8392 60.7292 80 50.6844 80 40C80 29.3156 75.8392 19.2708 68.2842 11.7156ZM40 75.3125C20.5286 75.3125 4.6875 59.4714 4.6875 40C4.6875 20.5286 20.5286 4.6875 40 4.6875C59.4714 4.6875 75.3125 20.5286 75.3125 40C75.3125 59.4714 59.4714 75.3125 40 75.3125Z" fill="#9CCD11")
    path(d="M59.1101 27.1652C58.1949 26.2502 56.7108 26.2502 55.7957 27.1654L35.099 47.8621L24.2041 36.9673C23.289 36.0521 21.8049 36.0521 20.8896 36.9673C19.9743 37.8824 19.9743 39.3665 20.8896 40.2818L33.4416 52.8338C33.8993 53.2915 34.4991 53.5202 35.0988 53.5202C35.6985 53.5202 36.2985 53.2913 36.756 52.8338L59.1101 30.4798C60.0254 29.5646 60.0254 28.0805 59.1101 27.1652Z" fill="#9CCD11")

mixin unsuccessfully
  svg(width="80" height="80" viewbox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M68.2828 11.7172C60.7239 4.15825 50.6902 0 40 0C29.3098 0 19.2761 4.15825 11.7172 11.7172C4.15825 19.2761 0 29.3098 0 40C0 50.6902 4.15825 60.7239 11.7172 68.2828C19.2761 75.8418 29.3098 80 40 80C50.6902 80 60.7239 75.8418 68.2828 68.2828C75.8418 60.7239 80 50.6902 80 40C80 29.3098 75.8418 19.2761 68.2828 11.7172ZM65.0673 65.0673C58.367 71.7677 49.4613 75.4545 40 75.4545C30.5387 75.4545 21.633 71.7677 14.9327 65.0673C1.11111 51.2458 1.11111 28.7542 14.9327 14.9327C21.633 8.23232 30.5387 4.54545 40 4.54545C49.4613 4.54545 58.367 8.23232 65.0673 14.9327C78.8889 28.7542 78.8889 51.2458 65.0673 65.0673Z" fill="#ED1C24")
    path(d="M57.6263 22.3738C56.734 21.4815 55.3031 21.4815 54.4108 22.3738L40 36.7846L25.5893 22.3738C24.697 21.4815 23.266 21.4815 22.3738 22.3738C21.4815 23.266 21.4815 24.697 22.3738 25.5893L36.7846 40L22.3738 54.4108C21.4815 55.3031 21.4815 56.7341 22.3738 57.6263C22.8115 58.064 23.4007 58.2997 23.9731 58.2997C24.5455 58.2997 25.1347 58.0809 25.5724 57.6263L39.9832 43.2155L54.394 57.6263C54.8317 58.064 55.4209 58.2997 55.9933 58.2997C56.5825 58.2997 57.1549 58.0809 57.5926 57.6263C58.4849 56.7341 58.4849 55.3031 57.5926 54.4108L43.2155 40L57.6263 25.5893C58.5185 24.697 58.5185 23.266 57.6263 22.3738Z" fill="#ED1C24")


