mixin vk
  svg(width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M15 0C6.71601 0 0 6.7157 0 15C0 23.2843 6.71601 30 15 30C23.284 30 30 23.2843 30 15C30 6.7157 23.284 0 15 0ZM22.6088 16.6223C23.3079 17.3052 24.0476 17.9478 24.6752 18.7013C24.9532 19.0346 25.2153 19.3792 25.4148 19.7669C25.6996 20.3196 25.4425 20.9257 24.9477 20.9586L21.8747 20.958C21.081 21.0236 20.4494 20.7035 19.9169 20.1609C19.4919 19.7285 19.0975 19.2666 18.6881 18.8194C18.5208 18.6359 18.3447 18.4631 18.1347 18.3272C17.7158 18.0546 17.3518 18.1381 17.1118 18.5758C16.8672 19.0211 16.8114 19.5146 16.788 20.0102C16.7546 20.7348 16.5361 20.9242 15.809 20.9583C14.2554 21.031 12.7814 20.7953 11.4114 20.0121C10.2028 19.3212 9.26731 18.3462 8.45217 17.2423C6.86486 15.0902 5.64921 12.7283 4.55693 10.2985C4.3111 9.7513 4.49095 9.45852 5.09463 9.44716C6.0976 9.42783 7.10056 9.43028 8.10353 9.44624C8.51171 9.45268 8.78179 9.68624 8.93862 10.0714C9.48061 11.4049 10.1451 12.6737 10.9777 13.8503C11.1996 14.1637 11.4261 14.4761 11.7486 14.6974C12.1047 14.9417 12.376 14.861 12.5438 14.4635C12.6513 14.2109 12.6976 13.9409 12.7209 13.6702C12.8007 12.743 12.8102 11.8162 12.6721 10.8927C12.5862 10.3148 12.2612 9.94158 11.6851 9.83233C11.3917 9.77678 11.4347 9.66813 11.5774 9.50056C11.8251 9.21084 12.0571 9.03161 12.5208 9.03161L15.9928 9.031C16.5401 9.13841 16.6628 9.38394 16.7371 9.93514L16.7402 13.7936C16.7337 14.0069 16.8473 14.6391 17.2303 14.7787C17.5372 14.88 17.7397 14.6339 17.9233 14.4396C18.7559 13.556 19.3492 12.5131 19.8804 11.4338C20.1149 10.9577 20.3171 10.4652 20.5136 9.97166C20.6596 9.60675 20.8868 9.42721 21.2986 9.43335L24.642 9.43734C24.7406 9.43734 24.8406 9.43826 24.9382 9.45514C25.5017 9.55151 25.6561 9.79396 25.4817 10.3436C25.2074 11.2073 24.6743 11.9266 24.1531 12.6479C23.5946 13.4201 22.9989 14.1652 22.4458 14.9408C21.9376 15.6497 21.9778 16.0066 22.6088 16.6223Z" fill="#7D838A")

mixin twitter
  svg(width="31" height="30" viewbox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M15.6001 0C7.32913 0 0.600098 6.72903 0.600098 15C0.600098 23.2704 7.32913 30 15.6001 30C23.8705 30 30.6001 23.2704 30.6001 15C30.6001 6.72903 23.8717 0 15.6001 0ZM22.2917 11.5669C22.2983 11.7155 22.3019 11.8654 22.3019 12.0152C22.3019 16.5776 18.8302 21.8366 12.4782 21.8366C10.5284 21.8366 8.71337 21.2668 7.18593 20.2868C7.45601 20.3188 7.73093 20.3351 8.00947 20.3351C9.62753 20.3351 11.1157 19.7829 12.2975 18.8572C10.787 18.8295 9.51152 17.8313 9.07226 16.4592C9.28253 16.499 9.49944 16.5214 9.72118 16.5214C10.036 16.5214 10.3417 16.4803 10.6311 16.4012C9.05172 16.0845 7.86204 14.6894 7.86204 13.0158C7.86204 13.0013 7.86204 12.9862 7.86265 12.9723C8.32788 13.2303 8.86019 13.3862 9.42572 13.4037C8.50008 12.7856 7.89044 11.7282 7.89044 10.5307C7.89044 9.89749 8.06022 9.30416 8.35749 8.79421C10.0595 10.8835 12.6044 12.2575 15.4732 12.4025C15.414 12.1494 15.3844 11.8865 15.3844 11.6152C15.3844 9.70897 16.93 8.16281 18.8362 8.16281C19.8295 8.16281 20.7256 8.58213 21.3564 9.2528C22.1436 9.09812 22.8808 8.81173 23.5496 8.41477C23.2898 9.22138 22.7442 9.89749 22.0294 10.3253C22.7285 10.2419 23.3956 10.057 24.0124 9.78208C23.552 10.4733 22.9666 11.0817 22.2917 11.5669Z" fill="#7D838A")

mixin instagram
  svg(width="31" height="30" viewbox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M15.1994 18.0029C16.8544 18.0029 18.2036 16.6561 18.2036 15C18.2036 14.3462 17.9897 13.7426 17.6356 13.2496C17.09 12.4931 16.203 11.9971 15.2013 11.9971C14.1989 11.9971 13.3125 12.4925 12.7657 13.249C12.4104 13.742 12.1984 14.3456 12.1978 14.9994C12.1959 16.6555 13.5439 18.0029 15.1994 18.0029Z" fill="#7D838A")
    path(d="M21.7571 11.3263V8.80918V8.43457L21.3807 8.43578L18.8647 8.44363L18.8744 11.336L21.7571 11.3263Z" fill="#7D838A")
    path(d="M15.2002 0C6.92923 0 0.200195 6.72903 0.200195 15C0.200195 23.2704 6.92923 30 15.2002 30C23.4706 30 30.2002 23.2704 30.2002 15C30.2002 6.72903 23.4718 0 15.2002 0ZM23.731 13.2496V20.2342C23.731 22.0535 22.2519 23.532 20.4338 23.532H9.96657C8.14791 23.532 6.66942 22.0535 6.66942 20.2342V13.2496V9.76698C6.66942 7.94832 8.14791 6.46983 9.96657 6.46983H20.4332C22.2519 6.46983 23.731 7.94832 23.731 9.76698V13.2496Z" fill="#7D838A")
    path(d="M19.8665 14.9999C19.8665 17.572 17.7736 19.6662 15.2003 19.6662C12.627 19.6662 10.5346 17.572 10.5346 14.9999C10.5346 14.3812 10.6578 13.7897 10.8778 13.2495H8.33105V20.2341C8.33105 21.1368 9.06396 21.8679 9.96603 21.8679H20.4327C21.3336 21.8679 22.0677 21.1368 22.0677 20.2341V13.2495H19.5197C19.7415 13.7897 19.8665 14.3812 19.8665 14.9999Z" fill="#7D838A")

mixin facebook
  svg(width="31" height="30" viewbox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M15.7998 0C7.52884 0 0.799805 6.72903 0.799805 15C0.799805 23.2704 7.52884 30 15.7998 30C24.0702 30 30.7998 23.2704 30.7998 15C30.7998 6.72903 24.0714 0 15.7998 0ZM19.5302 15.5281H17.0898C17.0898 19.427 17.0898 24.2262 17.0898 24.2262H13.4736C13.4736 24.2262 13.4736 19.4735 13.4736 15.5281H11.7547V12.4539H13.4736V10.4654C13.4736 9.04133 14.1503 6.81604 17.123 6.81604L19.8027 6.82631V9.81048C19.8027 9.81048 18.1743 9.81048 17.8577 9.81048C17.5411 9.81048 17.091 9.96878 17.091 10.6479V12.4545H19.8462L19.5302 15.5281Z" fill="#7D838A")

























