//White
$white-one: #fff;

//White-rgba
$white-rgba-one: rgba(255, 255, 255, .3);
$white-rgba-three: rgba(255, 255, 255, .7);
$white-rgba-four: rgba(250,250,250,.9);

//Black
$black-one: #000000;
$black-two: #242424;
$black-three: #202020;

//Black-rgba
$black-rgba-one: rgba(0, 0, 0, .8);
$black-rgba-two: rgba(0, 0, 0, .5);
$black-rgba-three: rgba(0, 0, 0, .6);
$black-rgba-four: rgba(0, 0, 0, .25);
$black-rgba-five: rgba(0, 0, 0, .8);
$black-rgba-six: rgba(0, 0, 0, .24);
$black-rgba-seven: rgba(0, 0, 0, .12);
$black-rgba-eight: rgba(0, 0, 0, .6);
$black-rgba-nine: rgba(0, 0, 0, .4);
$black-rgba-: rgba(0, 0, 0, .4);

//Grey
$grey-one: #6B6B6B;
$grey-two: #7D838A;
$grey-three: #4F5051;
$grey-four: #C7C7C7;
$grey-five: #C9C9C9;
$grey-six: #F3F3F3;
$grey-seven: #dee2e6;
$grey-eight: #F5F5F5;
$grey-nine: #FBFBFB;

//Gold
$gold-one: #C5A47E;
$gold-two: #FAF4EA;

//Red
$red-one: #FF0000;



