html {

  &.modal-open {

    overflow-y: hidden;

    @media only screen and (max-width: 991.98px) {

      padding-right: 1px;

    }
  }

}

body {

  overflow-x: hidden !important;
  position: relative;
  background-color: $black-one;

}


a {

  font-family: $francker-cyr-cond-smbold;
  font-size: 14px;

}


p {

  margin-bottom: 0;

}

header, footer, nav, article {
  display: block;
}

input:active,
input:focus,
button:active,
button:focus,
a:active,
a:focus {
  outline: none;
}

img, a {
  border: none;
}

ul {

  margin-bottom: 0;

}

section {
  padding-top: 77px;
  padding-bottom: 103px;
}

.main {

  width: 100%;
  position: relative;
  overflow: hidden !important;
  display: block;
  transition: transform .3s ease-in-out;
  filter: blur(0);
  transform: translateX(0);
  //visibility: hidden;

  @media only screen and (max-width: 992px) {
    visibility: visible;
  }

  &.show {

    filter: blur(3px);
    transform: translateX(-625px);

  }

}

::-webkit-input-placeholder { /* Chrome */
  color: $white-one;
  font-size: 18px;
  font-family: $verdana-light;
  @media only screen and (max-width: 1569.98px) {
    font-size: 12px;
  }
}

:-ms-input-placeholder { /* IE 10+ */
  color: $white-one;
  font-size: 18px;
  font-family: $verdana-light;
  @media only screen and (max-width: 1569.98px) {
    font-size: 12px;
  }
}

::-moz-placeholder { /* Firefox 19+ */
  color: $white-one;
  font-size: 18px;
  font-family: $verdana-light;
  @media only screen and (max-width: 1569.98px) {
    font-size: 12px;
  }
}

:-moz-placeholder { /* Firefox 4 - 18 */
  color: $white-one;
  font-size: 18px;
  font-family: $verdana-light;
  @media only screen and (max-width: 1569.98px) {
    font-size: 12px;
  }
}

form {

  input, textarea, label {

    font-family: $verdana-light;
    font-size: 14px;

    a {

      font-family: $verdana-light;
      font-size: 14px;

    }

  }

}

.form-control:focus {
  border-color: $gold-one;
  box-shadow: none;
}

.modal_theme {
  padding-right: 0 !important;
}

.label_39 {

  z-index: 1000 !important;

}

//zadarma
.z-widget-simple-btn {

  z-index: 1000 !important;
  right: 20px !important;

}

.z-widget-sidebar {

  z-index: 10000000000000000 !important;
  overflow-x: hidden !important;

  @media (max-width: 460px) {
    width: 100vw !important;

  }

  .z-widget-sidebar-content {

    position: relative !important;
    width: 100% !important;

  }

  .z-widget-sidebar-header {

    width: 100% !important;
    position: relative !important;

  }

  .z-widget-sidebar-callback {

    width: 100% !important;
    position: relative !important;

  }

}

//jivosite
._show_1e.wrap_mW {

  z-index: 1000 !important;

}

.main_2l {

  z-index: 214748;

}

//kviz
.ws-quiz .ws-quiz-modal-wrap {

  z-index: 10000000000000000 !important;

}

.modal {

  z-index: 100000000;

  &__theme {

    background-color: $black-rgba-three;

  }

}
