//FranckerCYR
@font-face {
  font-family: "FranckerCYR-CondensedLight";
  font-display: auto;
  font-weight: 100;
  font-style: normal;
  src: url('#{$francker-cyr}FranckerCYR-CondensedLight.eot');
  src: local('FranckerCYR-CondensedLight'),
  url('#{$francker-cyr}FranckerCYR-CondensedLight.eot?#iefix') format('embedded-opentype'),
  url('#{$francker-cyr}FranckerCYR-CondensedLight.woff') format('woff'),
  url('#{$francker-cyr}FranckerCYR-CondensedLight.ttf') format('truetype');
}
@font-face {
  font-family: "FranckerCYR-CondensedReg";
  font-display: auto;
  font-weight: 300;
  font-style: normal;
  src: url('#{$francker-cyr}FranckerCYR-CondensedReg.eot');
  src: local('FranckerCYR-CondensedReg'),
  url('#{$francker-cyr}FranckerCYR-CondensedReg.eot?#iefix') format('embedded-opentype'),
  url('#{$francker-cyr}FranckerCYR-CondensedReg.woff') format('woff'),
  url('#{$francker-cyr}FranckerCYR-CondensedReg.ttf') format('truetype');
}
@font-face {
  font-family: 'FranckerCYR-CondensedMedium';
  font-display: auto;
  font-weight: 500;
  font-style: normal;
  src: url('#{$francker-cyr}FranckerCYR-CondensedMedium.eot');
  src: local('FranckerCYR-CondensedMedium'),
  url('#{$francker-cyr}FranckerCYR-CondensedMedium.eot?#iefix') format('embedded-opentype'),
  url('#{$francker-cyr}FranckerCYR-CondensedMedium.woff') format('woff'),
  url('#{$francker-cyr}FranckerCYR-CondensedMedium.ttf') format('truetype');
}
@font-face {
  font-family: "FranckerCYR-CondensedSmbold";
  font-display: auto;
  font-weight: 600;
  font-style: normal;
  src: url('#{$francker-cyr}FranckerCYR-CondensedSmbold.eot');
  src: local('FranckerCYR-CondensedSmbold'),
  url('#{$francker-cyr}FranckerCYR-CondensedSmbold.eot?#iefix') format('embedded-opentype'),
  url('#{$francker-cyr}FranckerCYR-CondensedSmbold.woff') format('woff'),
  url('#{$francker-cyr}FranckerCYR-CondensedSmbold.ttf') format('truetype');
}
@font-face {
  font-family: "FranckerCYR-CondensedBlack";
  font-display: auto;
  font-weight: 900;
  font-style: normal;
  src: url('#{$francker-cyr}FranckerCYR-CondensedBlack.eot.eot');
  src: local('FranckerCYR-CondensedBlack'),
  url('#{$francker-cyr}FranckerCYR-CondensedBlack.eot?#iefix') format('embedded-opentype'),
  url('#{$francker-cyr}FranckerCYR-CondensedBlack.woff') format('woff'),
  url('#{$francker-cyr}FranckerCYR-CondensedBlack.ttf') format('truetype');
}

//Verdana
@font-face {
  font-family: "Verdana-Pro-Light";
  font-display: auto;
  font-weight: 300;
  font-style: normal;
  src: url("#{$verdana-font-path}VerdanaPro-Light.eot");
  src: local('Verdana-Pro-Light'),
  url("#{$verdana-font-path}VerdanaPro-Light.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-Light.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-LightItalic";
  font-display: auto;
  font-weight: 300;
  font-style: italic;
  src: url("#{$verdana-font-path}VerdanaPro-LightItalic.eot");
  src: local('Verdana-Pro-LightItalic'),
  url("#{$verdana-font-path}VerdanaPro-LightItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-LightItalic.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-Cond-Light";
  font-display: auto;
  font-weight: 300;
  font-style: normal;
  src: url("#{$verdana-font-path}VerdanaPro-CondLight.eot");
  src: local('Verdana-Pro-Cond-Light'),
  url("#{$verdana-font-path}VerdanaPro-CondLight.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-CondLight.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-CondLight.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-Italic";
  font-display: auto;
  font-weight: normal;
  font-style: italic;
  src: url("#{$verdana-font-path}VerdanaPro-Italic.eot");
  src: local('Verdana-Pro-Italic'),
  url("#{$verdana-font-path}VerdanaPro-Italic.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-Italic.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-CondItalic";
  font-display: auto;
  font-weight: normal;
  font-style: italic;
  src: url("#{$verdana-font-path}VerdanaPro-CondItalic.eot");
  src: local('Verdana-Pro-CondItalic'),
  url("#{$verdana-font-path}VerdanaPro-CondItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-CondItalic.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-CondItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-CondLightItalic";
  font-display: auto;
  font-weight: 300;
  font-style: italic;
  src: url("#{$verdana-font-path}VerdanaPro-CondLightItalic.eot");
  src: local('Verdana-Pro-CondLightItalic'),
  url("#{$verdana-font-path}VerdanaPro-CondLightItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-CondLightItalic.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-CondLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-Regular";
  font-display: auto;
  font-weight: normal;
  font-style: normal;
  src: url("#{$verdana-font-path}VerdanaPro-Regular.eot");
  src: local('Verdana-Pro-Regular'),
  url("#{$verdana-font-path}VerdanaPro-Regular.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-Regular.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-CondRegular";
  font-display: auto;
  font-weight: normal;
  font-style: normal;
  src: url("#{$verdana-font-path}VerdanaPro-CondRegular.eot");
  src: local('Verdana-Pro-CondRegular'),
  url("#{$verdana-font-path}VerdanaPro-CondRegular.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-CondRegular.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-CondRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-SemiBold";
  font-display: auto;
  font-weight: 600;
  font-style: normal;
  src: url("#{$verdana-font-path}VerdanaPro-SemiBold.eot");
  src: local('Verdana-Pro-SemiBold'),
  url("#{$verdana-font-path}VerdanaPro-SemiBold.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-SemiBold.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-SemiBoldItalic";
  font-display: auto;
  font-weight: 600;
  font-style: italic;
  src: url("#{$verdana-font-path}VerdanaPro-SemiBoldItalic.eot");
  src: local('Verdana-Pro-SemiBoldItalic'),
  url("#{$verdana-font-path}VerdanaPro-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-SemiBoldItalic.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-CondSemiBold";
  font-display: auto;
  font-weight: 600;
  font-style: normal;
  src: url("#{$verdana-font-path}VerdanaPro-CondSemiBold.eot");
  src: local('Verdana-Pro-CondSemiBold'),
  url("#{$verdana-font-path}VerdanaPro-CondSemiBold.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-CondSemiBold.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-CondSemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-CondSemiBoldItalic";
  font-display: auto;
  font-weight: 600;
  font-style: italic;
  src: url("#{$verdana-font-path}VerdanaPro-CondSemiBoldItalic.eot");
  src: local('Verdana-Pro-CondSemiBoldItalic'),
  url("#{$verdana-font-path}VerdanaPro-CondSemiBoldItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-CondSemiBoldItalic.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-CondSemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-Bold";
  font-display: auto;
  font-weight: bold;
  font-style: normal;
  src: url("#{$verdana-font-path}VerdanaPro-Bold.eot");
  src: local('Verdana-Pro-Bold'),
  url("#{$verdana-font-path}VerdanaPro-Bold.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-Bold.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-Bold.ttf") format("truetype");
}
@font-face {

  font-family: "Verdana-Pro-BoldItalic";
  font-display: auto;
  font-weight: bold;
  font-style: italic;
  src: url("#{$verdana-font-path}VerdanaPro-BoldItalic.eot");
  src: local('Verdana-Pro-BoldItalic'),
  url("#{$verdana-font-path}VerdanaPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-BoldItalic.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-CondBold";
  font-display: auto;
  font-weight: bold;
  font-style: normal;
  src: url("#{$verdana-font-path}VerdanaPro-CondBold.eot");
  src: local('Verdana-Pro-CondBold'),
  url("#{$verdana-font-path}VerdanaPro-CondBold.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-CondBold.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-CondBold.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-CondBoldItalic";
  font-display: auto;
  font-weight: bold;
  font-style: italic;
  src: url("#{$verdana-font-path}VerdanaPro-CondBoldItalic.eot");
  src: local('Verdana-Pro-CondBoldItalic'),
  url("#{$verdana-font-path}VerdanaPro-CondBoldItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-CondBoldItalic.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-CondBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-Black";
  font-display: auto;
  font-weight: 900;
  font-style: normal;
  src: url("#{$verdana-font-path}VerdanaPro-Black.eot");
  src: local('Verdana-Pro-Black'),
  url("#{$verdana-font-path}VerdanaPro-Black.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-Black.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-BlackItalic";
  font-display: auto;
  font-weight: 900;
  font-style: italic;
  src: url("#{$verdana-font-path}VerdanaPro-BlackItalic.eot");
  src: local('Verdana-Pro-BlackItalic'),
  url("#{$verdana-font-path}VerdanaPro-BlackItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-BlackItalic.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Verdana-Pro-CondBlack";
  font-display: auto;
  font-weight: 900;
  font-style: normal;
  src: url("#{$verdana-font-path}VerdanaPro-CondBlack.eot");
  src: local('Verdana-Pro-CondBlack'),
  url("#{$verdana-font-path}VerdanaPro-CondBlack.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-CondBlack.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-CondBlack.ttf") format("truetype");
}
@font-face {

  font-family: "Verdana-Pro-CondBlackItalic";
  font-display: auto;
  font-weight: 900;
  font-style: italic;
  src: url("#{$verdana-font-path}VerdanaPro-CondBlackItalic.eot");
  src: local('Verdana-Pro-CondBlackItalic'),
  url("#{$verdana-font-path}VerdanaPro-CondBlackItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$verdana-font-path}VerdanaPro-CondBlackItalic.woff") format("woff"),
  url("#{$verdana-font-path}VerdanaPro-CondBlackItalic.ttf") format("truetype");
}

