//Way-img
$way-img: "../img/" !default;
$static-img: "https://static.e-trans.me/vip.albatros-bct/img/" !default;
$static-icon: "https://static.e-trans.me/icon/" !default;
$static-thanksgiving-letters: "https://static.e-trans.me/thanksgiving-letters/" !default;


//Way-fonts
$francker-cyr: "../fonts/FranckerCYR/" !default;
$verdana-font-path: "../fonts/verdana/" !default;

//Font-family
$francker-cyr-cond-light: 'FranckerCYR-CondensedLight', sans-serif;
$francker-cyr-cond-regular: 'FranckerCYR-CondensedReg', sans-serif;
$francker-cyr-cond-medium: 'FranckerCYR-CondensedMedium', sans-serif;
$francker-cyr-cond-smbold: 'FranckerCYR-CondensedSmbold', sans-serif;
$francker-cyr-cond-bold: 'FranckerCYR-CondensedBold', sans-serif;
$francker-cyr-cond-black: 'FranckerCYR-CondensedBlack', sans-serif;

$verdana-light: 'Verdana-Pro-Light', sans-serif;
$verdana-light-italic: 'Verdana-Pro-LightItalic', sans-serif;
$verdana-cond-light: 'Verdana-Pro-Cond-Light', sans-serif;
$verdana-italic: 'Verdana-Pro-Italic', sans-serif;
$verdana-cond-italic: 'Verdana-Pro-CondItalic', sans-serif;
$verdana-cond-light-italic: 'Verdana-Pro-CondLightItalic', sans-serif;
$verdana-regular: 'Verdana-Pro-Regular', sans-serif;
$verdana-semi-bold: 'Verdana-Pro-SemiBold', sans-serif;
$verdana-semi-bold-italic: 'Verdana-Pro-SemiBoldItalic', sans-serif;
$verdana-cond-semi-bold: 'Verdana-Pro-CondSemiBold', sans-serif;
$verdana-cond-semi-bold-italic: 'Verdana-Pro-CondSemiBoldItalic', sans-serif;
$verdana-bold: 'Verdana-Pro-Bold', sans-serif;
$verdana-bold-italic: 'Verdana-Pro-BoldItalic', sans-serif;
$verdana-cond-bold: 'Verdana-Pro-CondBold', sans-serif;
$verdana-cond-bold-italic: 'Verdana-Pro-CondBoldItalic', sans-serif;
$verdana-black: 'Verdana-Pro-Black', sans-serif;
$verdana-black-italic: 'Verdana-Pro-BlackItalic', sans-serif;
$verdana-cond-black: 'Verdana-Pro-CondBlack', sans-serif;
$verdana-cond-black-italic: 'Verdana-Pro-CondBlackItalic', sans-serif;

