header.header.scrolling-navbar.header__line-gold
  .container.container__customized_md.container__customized_xl
    nav.nav-menu(role='navigation')
      .row
        .col.nav-menu__logo_align-center
          a.nav-menu__logo(href='#header' role='banner')
            +logo-header
        .nav-menu__col-xl.nav-menu__block
          .nav-menu__collapse
            ul.magicLine.nav-menu__menu
              li.nav-menu__menu_item
                a(href='#classAuto' title='' role='link') Классы авто

              li.nav-menu__menu_item
                a(href='#tariffsPolitical' title='' role='link') Тарифы

              li.nav-menu__menu_item
                a(href='#ourService' title='' role='link') Сервис

              li.nav-menu__menu_item
                a(href='#reviews' title='' role='link') Отзывы

              li.nav-menu__menu_item
                a(href='#activity' title='' role='link') Мероприятия

              li.nav-menu__menu_item.nav-menu__menu_mr-15
                a(href='#footer' title='' role='link') Контакты

              li.nav-menu__menu_item.nav-menu__menu_hidden.active
                a(title='' role='link')


            ul.nav-menu__menu.nav-menu__menu_phones
              li.nav-menu__menu_item
                +phone-small
                a.telephone(href='tel:+78002004017' title='Сделать звонок' role='link') +7-800-200-4017
                span Круглосуточно

              li.nav-menu__menu_item
                +phone-small
                a(href='tel:+74951283601' title='Сделать звонок' role='link') +7-495-128-3601
                span Москва

              li.nav-menu__menu_item
                +phone-small
                a(href='tel:+78126037550' title='Сделать звонок' role='link') +7-812-603-7550
                span Санкт-Петербург

              li.nav-menu__menu_item
                +phone-small
                a(href='tel:+78432070209' title='Сделать звонок' role='link') +7-843-207-0209
                span Казань

              li.nav-menu__menu_item
                +phone-small
                a(href='tel:+78622792425' title='Сделать звонок' role='link') +7-862-279-2425
                span Сочи

              li.nav-menu__menu_item
                +phone-small
                a(href='tel:+12023502717' title='Сделать звонок' role='link') +1-20-235-027-17
                span Вашингтон

              li.nav-menu__menu_item.nav-menu__menu_messangers
                .nav-menu__menu_phones-messangers
                  +phone-small
                  a(href='tel:+79235008282' title='Сделать звонок' role='link') +7(923)500-82-82
                .nav-menu__messangers
                  span
                    a(href='whatsapp://send?phone=+79235008282' title='' target='_blank')
                      +whatsapp
                  span
                    a(href='viber://chat?number=+79235008282' title='' target='_blank')
                      +viber
                  span
                    a.nav-menu__messangers_no-event(href='/' title='')
                      +telegram

            ul.nav-menu__menu.nav-menu__menu_feedback
              li.nav-menu__menu_item
                +mail-small
                a(href='mailto:24@rustransfer.org' title='' role='link') 24@rustransfer.org

              li.nav-menu__menu_item
                +mail-small
                a(href='mailto:a.kuleshov@rustransfer.org' title='' role='link') Обратная связь с генеральным директором

              li.nav-menu__menu_item
                +mail-small
                a(href='mailto:org@rustransfer.org' title='' role='link') Обращение к комплайнс-контролеру

            .nav-menu__menu_network
              span
                a(href='https://vk.com/rustransfer2019' title='Перейти в группу Рустрансфер Вконтакте' target='_blank' role='link')
                  +vk
              span
                a(href='https://twitter.com/TransferRus' title='Перейти в группу Рустрансфер в Twitter' target='_blank' role='link')
                  +twitter
              span
                a(href='https://www.instagram.com/rustransfers/' title='Перейти в группу Рустрансфер в Instagram' target='_blank' role='link')
                  +instagram
              span
                a(href='https://www.facebook.com/rustransfers/?modal=admin_todo_tour' title='Перейти в группу Рустрансфер в Facebook' target='_blank' role='link')
                  +facebook

          a.button.button__middle.button__middle_header.button__gold-border.button__animation-right.button__ml-auto.button__animation-glare(role='link' href='tel:88002501717' title='Позвонить')
            p
              +phone-white
              | +7 (800) 250-17-17
              small 24/7
          .button__lang
            a.button__lang_ru.active(href='/' title='' role='link') RU
              span.button__lang_white &nbsp;/&nbsp;
            a.button__lang_en(href='/' title='Английская версия' role='link') EN
          .nav-menu__button-collapse
            button.hamburger.hamburger--spring(type='button' title='Открыть меню' role='button')
              span.hamburger-box
                span.hamburger-inner
