meta(charset='utf-8')
title Аренда минивенов, микроавтобусов и автобусов | РусТрансфер
meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=2.0, shrink-to-fit=no')
meta(http-equiv='x-ua-compatible' content='ie=edge')
meta(name="keywords" content="")
meta(name="description" content="")
link(rel="icon" href="/favicon.ico" type="image/x-icon")
link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
link(href='/assets/css/style.min.css?ver=1.0.0' rel='stylesheet')


