mixin owl-carousel-thanksgiving-letters
  .owl-carousel.owl-theme.owl-carousel-ide.owl-carousel__thanksgiving-letters
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/01 - OOO-KA-Unistaff.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/01 - OOO-KA-Unistaff.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/02 - OOO-MorNeftGagstroy.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/02 - OOO-MorNeftGagstroy.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/03 - TOV-BP-Sovet-Evropi.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/03 - TOV-BP-Sovet-Evropi.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/04 - OOO-Ei-end-Bi-Travel-Club.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/04 - OOO-Ei-end-Bi-Travel-Club.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/05 - Route-Aviation-FZE.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/05 - Route-Aviation-FZE.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/06 - AO-SibEnergoRemont.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/06 - AO-SibEnergoRemont.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/07 - OOO-Solaris-Avia-Tour.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/07 - OOO-Solaris-Avia-Tour.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/09 - Aspect.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/09 - Aspect.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/10 - Asociaciya-Klub-France.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/10 - Asociaciya-Klub-France.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/11 - ANO-Center-Socialnih-Technologiy.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/11 - ANO-Center-Socialnih-Technologiy.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/12 - GBUK-Moscow-Theater-of-Illusion.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/12 - GBUK-Moscow-Theater-of-Illusion.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/13 - OOO-Laspi-Voyaj.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/13 - OOO-Laspi-Voyaj.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/14 - OOO-Coralina-Engineering.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/14 - OOO-Coralina-Engineering.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/15 - OOPPO-Altai-Regional-Communications-Center.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/15 - OOPPO-Altai-Regional-Communications-Center.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/16 - OOO-TD-Electricaltehmontaj.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/16 - OOO-TD-Electricaltehmontaj.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/17 - MBOYDOD-Childrens-Art-School-№50.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/17 - MBOYDOD-Childrens-Art-School-№50.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/18 - OOO-Volga-Tour.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/18 - OOO-Volga-Tour.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/19 - OOO-Alfamed.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/19 - OOO-Alfamed.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/20 - ZAO-Biocad.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/20 - ZAO-Biocad.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/21 - OOO-Headhanter.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/21 - OOO-Headhanter.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/22 - ROO-Centralni-v-Kemerovo-bank-VTB.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/22 - ROO-Centralni-v-Kemerovo-bank-VTB.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/23 - GKC-Yunie-darovaniya-Kuzbassa-2018.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/23 - GKC-Yunie-darovaniya-Kuzbassa-2018.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/24 - GKC-Yunie-darovaniya-Kuzbassa-2016.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/24 - GKC-Yunie-darovaniya-Kuzbassa-2016.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/25 - GKC-Yunie-darovaniya-Kuzbassa-2014.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/25 - GKC-Yunie-darovaniya-Kuzbassa-2014.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/26 - OOO-Mitak-Evropa-LTD.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/26 - OOO-Mitak-Evropa-LTD.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/27 - OOO-Panaceya.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/27 - OOO-Panaceya.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/28 - OOO-Regiontur.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/28 - OOO-Regiontur.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/29 - OGAUK-Ulyanovskiy-dramaticheskiy-teatr-imeni-I-A-Goncharova.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/29 - OGAUK-Ulyanovskiy-dramaticheskiy-teatr-imeni-I-A-Goncharova.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/30 - OOO-Zapadno-Sibirskaya-proektnaya-kompaniya.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/30 - OOO-Zapadno-Sibirskaya-proektnaya-kompaniya.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/31 - OOO-Inkab.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/31 - OOO-Inkab.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/32 - OOO-Kvarc-Group.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/32 - OOO-Kvarc-Group.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/33 - OOO-Transfer.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/33 - OOO-Transfer.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/34 - OOO-VC-Rosteks.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/34 - OOO-VC-Rosteks.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/35 - OGAUK-Tomskaya-oblastnaya-gosudarstvennaya-filarmoniya.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/35 - OGAUK-Tomskaya-oblastnaya-gosudarstvennaya-filarmoniya.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/36 - OOO-Biznes-events.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/36 - OOO-Biznes-events.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/37 - OOO-Firma-Duim.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/37 - OOO-Firma-Duim.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/38 - OOO-Tashir-M.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/38 - OOO-Tashir-M.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/39 - OOO-Status-prezens-kontent.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/39 - OOO-Status-prezens-kontent.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/40 - Yaponskiy-center-po-razvitiy-torgovo-economicheskih-svyazei.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/40 - Yaponskiy-center-po-razvitiy-torgovo-economicheskih-svyazei.jpg', alt='' role='img')
    .item
      a(href='https://static.e-trans.me/thanksgiving-letters/41 - ООО-BI-SI-EY.jpg', data-lightbox='Диплом-1', data-title='Благодарственное письмо' role='link')
        img(src='https://static.e-trans.me/thanksgiving-letters/preview-thanksgiving-letters/41 - ООО-BI-SI-EY.jpg', alt='' role='img')
