doctype html

block vars

html(lang="en")
  head
    include ../partials/head
  body

    //== Mixins ==//
    include ../../templates/mixins/mixins
    //== End Mixins ==//

    include ../../templates/partials/header
    block content
    include ../../templates/partials/footer
