.form-horizontal {

  position: relative;
  visibility: visible;
  color: $black-three;

  @media only screen and (max-width: 1640px) {
    padding-right: 420px;
  }

  @media only screen and (max-width: 1280px) {
    padding-right: 365px;
  }

  @media only screen and (max-width: 1024px) {
    padding-right: 400px;
  }

  @media only screen and (max-width: 992px) {
    padding-right: 0;
    visibility: visible;
  }

  @media only screen and (max-width: 575px) {
    display: none;
  }

  &__center {
    justify-content: center;
    display: grid;
    grid-template-columns: 37% 37% auto;
    grid-auto-rows: auto;
    grid-gap: 30px;
  }

  &__white {

    @media only screen and (max-width: 1280px) {
      padding-right: 270px;
    }

    @media only screen and (max-width: 1024px) {
      padding-right: 0;
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }

    fieldset {

      @media only screen and (max-width: 1280px) {
        display: inline-block;
      }

    }

    .button__wrapper {

      @media only screen and (max-width: 1280px) {

        flex-wrap: nowrap;
        width: 238px;
        display: inline-block;

      }

      @media only screen and (max-width: 1024px) {

        width: 286px;

      }

      @media only screen and (max-width: 992px) {

        width: 186px;

      }

      .button__large_middle {

        @media only screen and (max-width: 1024px) {
          max-width: 286px;
        }

        @media only screen and (max-width: 992px) {
          max-width: 248px;
        }

        @media only screen and (max-width: 992px) {

          width: 186px;

        }

      }

    }

    .form-group__white {

      @media only screen and (max-width: 1280px) {
        width: 64%;
        display: inline-block;
        margin-left: 15px;
        vertical-align: top;

      }

      .form-check-input {

        @media only screen and (max-width: 1280px) {
          width: 32px;
        }

        @media only screen and (max-width: 992px) {
          width: 43px;
        }

      }

    }

  }

  &__hidden {

    visibility: hidden;
    display: none;

  }

  .button__large_middle {

    @media only screen and (max-width: 1640px) {
      max-width: 260px;
      padding: 0 1rem 0;
    }

    @media only screen and (max-width: 1280px) {
      max-width: 201px;
      padding: 0 1rem 0;
    }

    @media only screen and (max-width: 1024px) {
      max-width: 234px;
    }

    @media only screen and (max-width: 992px) {
      max-width: 285px;
    }

    @media only screen and (max-width: 768px) {
      max-width: 100%;
    }

  }

  &__input-theme {

    border: 1px solid $gold-one;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 0 20px;
    background: transparent;
    font-size: 18px;
    height: 60px;
    position: relative;

    &_white {

      border: 1px solid $white-one;
      color: $white-one;

      &:focus {

        background: $white-rgba-three;
        color: $white-one;

      }

      &::-webkit-input-placeholder { /* Chrome */
        color: $white-one;
        font-size: 14px;
        @media only screen and (max-width: 1569.98px) {
          font-size: 12px;
        }
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $white-one;
        font-size: 14px;
        @media only screen and (max-width: 1569.98px) {
          font-size: 12px;
        }
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $white-one;
        font-size: 14px;
        @media only screen and (max-width: 1569.98px) {
          font-size: 12px;
        }
      }
      &:-moz-placeholder { /* Firefox 4 - 18 */
        color: $white-one;
        font-size: 14px;
        @media only screen and (max-width: 1569.98px) {
          font-size: 12px;
        }
      }

    }

  }

  &__input-container {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 32px;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
      width: 50px;
      opacity: 1;
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.76) 36%, rgba(255,255,255,1) 71%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.76) 36%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.76) 36%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

    }

  }

  &_pb-18 {

    padding-bottom: 18px;

  }

  &_mb-1 {

    @media only screen and (max-width: 1280px) {
      margin-bottom: 1rem;
    }

  }

}

.form-check {

  &__horizontal {

    position: relative;
    padding-left: 0;

    @media only screen and (max-width: 1640px) {
      display: flex;
    }

    .form-check-label {

      a {

        color: $gold-one;
        text-decoration: underline;
        transition: all .3s ease;

        &:hover {

          text-decoration: none;

        }

      }

    }

  }

}

.form-check-input {

  width: 18px;
  height: 18px;
  background: transparent;
  border-radius: 2px;
  border: 1px solid $gold-one;
  box-shadow: none;

  @media only screen and (max-width: 1640px) {
    width: 23px;
    margin-right: 10px;
    display: block;
  }

  @media only screen and (max-width: 1280px) {
    width: 28px;
  }

  @media only screen and (max-width: 1024px) {
    width: 34px;
  }

  &.checked {

    background: $gold-one;

  }

  &_white {

    border: 1px solid $gold-one;

    &.checked {

      background: $gold-one;

    }

  }

}

.jq-checkbox {

  &.focused {

    &.jq-checkbox_white {

      border: 1px solid $gold-one;

    }

    &.jq-checkbox_gold {

      border: 1px solid $gold-one;

    }

  }

  &.checked {

    .jq-checkbox__div {
      width: 12px;
      height: 6px;
      margin: 3px 0 0 3px;
      border-bottom: 2px solid $white-one;
      border-left: 2px solid $white-one;

    }

    &.checked-black {

      .jq-checkbox__div {
        width: 12px;
        height: 6px;
        margin: 3px 0 0 3px;
        border-bottom: 2px solid $white-one;
        border-left: 2px solid $white-one;

      }

    }

  }

}


.form-horizontal {

  .invalid {

    &__wrapper {

      position: absolute;
      padding-left: 0;
      top: 0;
      opacity: 0;
      transition: all .3s ease;
      display: block;
      visibility: hidden;
      font-size: 16px;
      font-family: $verdana-light;
      color: $red-one;
      line-height: 2em;
      text-align: left;
      margin-top: 25px;

    }

  }

  .invalid-tooltip {

    &__horizontal {

      position: relative;
      width: 100%;
      text-align: center;
      line-height: 2em;
      background: transparent;
      display: block;
      opacity: 1;
      visibility: visible;
      padding-left: 20px;

      &:before {

        display: none;

      }

    }

  }

}


.form-horizontal .was-validated .form-control:invalid ~ .invalid__wrapper,
.form-horizontal .form-control.is-invalid ~ .invalid__wrapper {
  opacity: 1;
  transition: all .5s ease;
  visibility: visible;

  &_delay_second {

    transition-delay: .1s;

  }

  &_delay_last {

    transition-delay: .2s;

  }

}


