//=== ICONS ===//
include ../../templates/mixins/icons/svg-icon/icons
//include ../../templates/mixins/icons/404/icons
include ../../templates/mixins/icons/messengers/icons
include ../../templates/mixins/icons/header/icons
include ../../templates/mixins/icons/social.networks/icons
include ../../templates/mixins/icons/your-benefit/icons
include ../../templates/mixins/icons/footer/icons
include ../../templates/mixins/icons/tariffs/icons
//=== END ICONS ===//


//=== COMPONENTS ===//
include ../../templates/mixins/components/button/button
include ../../templates/mixins/components/tariffs/tariffs
include ../../templates/mixins/components/tariffs-political/tariffs-political
include ../../templates/mixins/components/owl.carousel.thanksgiving.letters/owl-carousel-thanksgiving-letters
include ../../templates/mixins/components/form/form
include ../../templates/mixins/components/modals/form/customer-retention
include ../../templates/mixins/components/modals/form/consultation
include ../../templates/mixins/components/modals/form/success-unsuccess
include ../../templates/mixins/components/modals/cities-countries/cities-countries
include ../../templates/mixins/components/cookie/cookie

//=== END COMPONENTS ===//
