mixin passenger
  svg(width="13" height="15" viewbox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M6.49975 6.95652C8.42074 6.95652 9.97801 5.39925 9.97801 3.47826C9.97801 1.55727 8.42074 0 6.49975 0C4.57875 0 3.02148 1.55727 3.02148 3.47826C3.02148 5.39925 4.57875 6.95652 6.49975 6.95652Z" fill="#C9C9C9")
    path(d="M6.49966 8.69556C3.01786 8.69556 0.195312 11.5181 0.195312 14.9999H12.804C12.804 11.5181 9.98146 8.69556 6.49966 8.69556Z" fill="#C9C9C9")

mixin baggage
  svg(width="11" height="15" viewbox="0 0 11 15" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M3.06761 1.04873L2.4064 1.04926V0.00145584L8.58245 0V1.04767L7.92123 1.04714V0.661743L3.06814 0.663067L3.06761 1.04873ZM10.0039 3.25313L10.0067 13.6755C10.0067 14.0406 9.71059 14.3367 9.34544 14.3372H8.69653L8.69706 14.53C8.69653 14.7896 8.48822 14.9989 8.22908 14.9989C7.96901 14.9989 7.76109 14.7896 7.76017 14.53V14.3368L3.23821 14.3383V14.5311C3.23821 14.7906 3.02936 15 2.77075 15C2.51029 15 2.30131 14.7912 2.30131 14.5311L2.30184 14.3383H1.65347C1.28832 14.3383 0.991722 14.0422 0.992252 13.677L0.988281 3.25445C0.988281 2.8893 1.28435 2.59271 1.6495 2.59231H2.40825V1.65542L3.06946 1.65489L3.06999 2.59231L7.92309 2.59086L7.92216 1.65396H8.5839L8.58483 2.59086H9.34319C9.70781 2.59086 10.0039 2.88745 10.0039 3.25313ZM8.45645 5.60576L2.5353 5.60722L2.53769 12.7712H3.01176L3.00898 6.08129L7.98291 6.07944L7.98476 12.7698H8.45936L8.45645 5.60576Z" fill="#C9C9C9")

mixin ruble
  svg(width="11" height="12" viewbox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M2.14313 12V10.288H0.863125V8.736H2.14313V7.488H0.863125V5.504H2.14313V0.575999H5.79113C7.26313 0.575999 8.33513 0.874666 9.00713 1.472C9.68979 2.06933 10.0311 2.89067 10.0311 3.936C10.0311 4.55467 9.89246 5.136 9.61513 5.68C9.33779 6.224 8.87379 6.66133 8.22313 6.992C7.58313 7.32267 6.70846 7.488 5.59913 7.488H4.55913V8.736H7.02313V10.288H4.55913V12H2.14313ZM4.55913 5.504H5.35913C6.04179 5.504 6.58046 5.38667 6.97513 5.152C7.38046 4.91733 7.58313 4.53867 7.58313 4.016C7.58313 3.04533 6.94313 2.56 5.66313 2.56H4.55913V5.504Z" fill="#C5A47E")
